# **Basics of Python**

# **List**
* Collection of data
* Mutable
* '[ ]' Bracket

**Insertion**

1. To the end of the list
  * append()
    - to add the element at the end of the list
    - syntax - listname.append(element)

    
(7/12/2024)

**Deletion**

1. From Specific Position
  * pop() - to delete element from specific position.
     - Syntax - listname.pop(index)
     - if index not specified , then last element get deleted.

In [ ]:
# to insert all the element of any other sequence datatype into a given list at specified position as seperate elements.

# python do not provide predefined library function for this task because we have to define position for every element. default value is not want by the user everytime

In [ ]:
firstlist=[20,30,40,20,30,50,70,50]
print("list is : ", firstlist)

firstlist.pop()
print("list is : ", firstlist)

firstlist.pop(4)
print("list is : ", firstlist)

firstlist.pop(2)

list is :  [20, 30, 40, 20, 30, 50, 70, 50]
list is :  [20, 30, 40, 20, 30, 50, 70]
list is :  [20, 30, 40, 20, 50, 70]

40

2. Removing an element
  - remove() - to remove specific element from the position of its first occurrence from left most element into the list
  - Syntax - listname.remove(element)
  - if element is not present then exception is generated automatically.

In [ ]:
list2=[20,30,40,20,30,50,70,50]
print("list is : ", list2)

list2.remove(50)
print("list is : ", list2)

list2.remove(20)

list is :  [20, 30, 40, 20, 30, 50, 70, 50]
list is :  [20, 30, 40, 20, 30, 70, 50]

3. delete all elements
  - clear()- delete all elements
  - Syntax- listname.clear()

4. deleting elements in fiven range
  - del()
    - syntax - del listname[start : end : step]

In [ ]:
list2=[20,30,40,20,30,50,70,50]
print("list is : ", list2)

del list2[2:6:2]
print("list is : ", list2)

list is :  [20, 30, 40, 20, 30, 50, 70, 50]
list is :  [20, 30, 20, 50, 70, 50]

**Sorting**
 1. Ascending order
   - listname.sort()
 2. decending order
   - listname.sort(reverse=True)

# Assignment 1

In [ ]:
from tabulate import tabulate
def total(index):
  total= main_list[index][4]+main_list[index][5]+main_list[index][6]+main_list[index][7]+main_list[index][8]
  return total

record0=['stdid','stdname', 'standard', 'age',' Hindi',' English', 'Maths', 'Science','Computer','Total']
record1=['std101','Abhishek Gaur','10th',15,65,65,60,89,76,total(index=1)]
record2=['std102','Bhuwan Patel','10th',14,64,64,68,87,75,total(index=2)]
record3=['std103','Bhawana','10th',15,65,63,67,86,78,total(index=3)]
record4=['std104','Dimple Bharat','10th',13,66,42,66,85,79,total(index=4)]
record5=['std105','Elif','10th',13,65,61,65,87,70,total(index=5)]
record6=['std106','Joen Koel','10th',15,67,66,65,85,74,total(index=6)]
record7=['std107','Hoepen Oliv','10th',15,69,67,68,84,78,total(index=7)]
record8=['std108','Ocean','10th',14,69,68,63,83,73,total(index=8)]
record9=['std109','Roop Meher','10th',14,66,69,64,83,71,total(index=9)]
record10=['std110','Zovian','10th',13,61,60,67,81,79,total(index=10)]

main_list=[record0,record1,record2,record3,record4,record5,record6,record7,record8,record9,record10]

print(tabulate(main_list[1:],headers=main_list[0]))

stdid    stdname        standard      age     Hindi     English    Maths    Science    Computer    Total
-------  -------------  ----------  -----  --------  ----------  -------  ---------  ----------  -------
std101   Abhishek Gaur  10th           15        65          65       60         89          76      355
std102   Bhuwan Patel   10th           14        64          64       68         87          75      358
std103   Bhawana        10th           15        65          63       67         86          78      359
std104   Dimple Bharat  10th           13        66          42       66         85          79      338
std105   Elif           10th           13        65          61       65         87          70      348
std106   Joen Koel      10th           15        67          66       65         85          74      357
std107   Hoepen Oliv    10th           15        69          67       68         84          78      366
std108   Ocean          10th           14        69          68       63         83          73      356
std109   Roop Meher     10th           14        66          69       64         83          71      353
std110   Zovian         10th           13        61          60       67         81          79      348

In [ ]:
# Display name of student whose marks in english is greater than 50
print("Name of student whose marks in english is greater than 50 :")
for rowindex in  range (1,len(main_list)):
      if main_list[rowindex][5]>50:
          print(main_list[rowindex][1])

Name of student whose marks in english is greater than 50 :
Abhishek Gaur
Bhuwan Patel
Bhawana
Elif
Joen Koel
Hoepen Oliv
Ocean
Roop Meher
Zovian

In [ ]:
# display name and age of top 4 scrorer of maths

math_scores = []
for i, student in enumerate(main_list[1:], start=1):
    math_scores.append((student[6], i))
math_scores.sort(reverse=True,key=lambda x : x[0])

top_four_scrorer=math_scores[0:4]

print("Top 4 Math Scorers (Name and Age):")
for score , index in top_four_scrorer:
  student=main_list[index]
  print("Name : {} and Age : {}".format(student[1],student[3]))

Top 4 Math Scorers (Name and Age):
Name : Bhuwan Patel and Age : 14
Name : Hoepen Oliv and Age : 15
Name : Bhawana and Age : 15
Name : Zovian and Age : 13

sorted_list = sorted(main_list, key=lambda x: x[5], reverse=True)
print(sorted_list[0][0], "and", sorted_list[0][2],sorted_list[1][0] ,"and", sorted_list[1][2],sorted_list[2][0] ,"and", sorted_list[2][2])
to remember the sorted function

In [ ]:
# display name, id, age of student who are bottom three scrorer in computer

computer_scores = []
for i, student in enumerate(main_list[1:], start=1):
    computer_scores.append((student[8], i))
computer_scores.sort(key=lambda x : x[0])

bottom_three_scrorer=computer_scores[0:3]

print("Bottom 3 Computer Scorers (Name , id and Age):")
for score , index in bottom_three_scrorer:
  computer_student=main_list[index]
  print("Name : {} , id : {} and Age : {}".format(computer_student[1],computer_student[0],computer_student[3]))

Bottom 3 Computer Scorers (Name , id and Age):
Name : Elif , id : std105 and Age : 13
Name : Roop Meher , id : std109 and Age : 14
Name : Ocean , id : std108 and Age : 14

(7/15/2024)

# **Tuple**
 * Stores Hetrogeneous Data.
 * Tuple is Immutable but elements of tuple can be mutable.
 * In tuple elements are enclosed wihin paranthesis "()".



---


**To fetch the single element**

 variabe=tuple_name[index]

In [ ]:
 # eg. for elements of tuple can be mutable.
my_tuple = (1, [2, 3], 'a')

my_tuple[1].append(4)
print(my_tuple)

(1, [2, 3, 4], 'a')

In [ ]:
# Fetch the elements in Tuple
tuple=(23,334,5,55,6,24,56,78,96,65,84)
print("the tuple is {}".format(tuple))
print("the 4th index in tuple is {}".format(tuple[3]))
print("the 4th index from last in tuple is {}".format(tuple[-4]))

the tuple is (23, 334, 5, 55, 6, 24, 56, 78, 96, 65, 84)
the 4th index in tuple is 55
the 4th index from last in tuple is 78

In [ ]:
# Display element of tuple in forward direction using backward index.
print("Element of tuple in forward direction using backward index-")
for index in range(-len(tuple),0):
  print(tuple[index],end=" ")

# Display element of tuple in backward direction using farward index.
print('\nElement of tuple in backward direction using farward index-')
for index in range(len(tuple)-1,-1,-1):
  print(tuple[index],end=" ")

Element of tuple in forward direction using backward index-
23 334 5 55 6 24 56 78 96 65 84
Element of tuple in backward direction using farward index-
84 65 96 78 56 24 6 55 5 334 23

In [ ]:
#display the sum of all the element in the tuple
print("The sum of all the element in the tuple {} is {} -".format(tuple,sum(tuple)))

The sum of all the element in the tuple (23, 334, 5, 55, 6, 24, 56, 78, 96, 65, 84) is 826 -

 **Sorting and Searching in Tuple**
 * Sorting is not Possible as elements are immtable.
 * serching is possible.

# Dictionary
* collection of Hetrogeneous Data.
* Elements are stored in Key-value pairs, (key is used for indexing, therefore keys must be unique)
*eg.
dic_name={key0 : value0, key1: value1, key2 : value1}
*keys are immutable , value are mutable therefore dictionary is mutable.

In [ ]:
# Traversing and Fetching
dic_student= {'stdid':'std101', 'stdname':'Abhishek Gaur', 'age': 15}
print('student data : \n {}'.format(dic_student))
print("------------------------------------------------------\nDictionary(student) keys -")
print(*dic_student)
print("------------------------------------------------------\nDictionary(student) values -")
for key in dic_student:
  print(dic_student[key])

student data :
 {'stdid': 'std101', 'stdname': 'Abhishek Gaur', 'age': 15}
------------------------------------------------------
Dictionary(student) keys -
stdid stdname age
------------------------------------------------------
Dictionary(student) values -
std101
Abhishek Gaur
15

**to acces value of element**

   variable=dictionary_name[key]

**to insert a new element**
  * dic_name[key]=value
  * if key is already found in the dictionary then the value of exinting key will be updated with new key.
  * if no any element is present in dictionary with specific key, then new element get inserted.

In [ ]:
#Insertion AND Updation
student['age']=13
print(student)

student['Maths']=89
print(student)

{'stdid': 'std101', 'stdname': 'Abhishek Gaur', 'age': 13}
{'stdid': 'std101', 'stdname': 'Abhishek Gaur', 'age': 13, 'Maths': 89}

In [ ]:
# to remove element
student.pop('Maths')

89

In [ ]:
print(student)

{'stdid': 'std101', 'stdname': 'Abhishek Gaur', 'age': 15}

In [ ]:
student.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
del student['age']
print(student)

{'stdid': 'std101', 'stdname': 'Abhishek Gaur'}

# Traversal in a dictionary
* print(dict_name)

# Inserting and updating of element in dictionary
* dict_name[key] = value
* if an element is present in dictionary with specified key then, element gets updated
* if element is not present then, it will get inserted

# To remove elements from a dictionary
* dict_name.pop(key)
* del dict_name[key]

# Methods of dictionary
* pop()-
    - removes and returns the specified element from the dictionary.
    - dict_name.pop(key)
* popitem()-
    - removes and returns the last element from the dictionary.
    - dict.popitem(last = True)
    - dict.popitem(last = False)
* keys() -
    - To return a list of keys of dictionary
    - listname = dict_name.keys()  OR

    - print(dict_name.keys())
* values()
    - To return the value of elements in a dictionary
    - listname = dict_name.values()
    -   OR
    -   print(dict_name.values())
* items()
    - To return a list of items from dictionary(each item is a tuple which contains key,value of each element )
    - listVar = dict_name.items
* get()
    - to return value of element with specific key
    - variable = dictname.get(key, error_msg)
* clear()
    - to delete all the elements from the dictionary
    - dic_name.clear()
    - the dictionary will be deleted but the object will not be deleted
* len()
    - to return total number of elements
    - variable = len(dic_mame)
* update()
    - to insert/update element of any other dictionary
    - dic1_name.update(dic2_name)

In [ ]:
# Dictionaries are often used to store many pieces of information.
# Dictionaries are created by enclosing key-value pairs within braces or curly brackets { and }
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}
print(person1)

# Dictionaries can also be created using the dict function.

person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)
print(person2)

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}
{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [ ]:
# METHODS (examples)

# to get list of keys values and items in the list
dic_student= {'stdid':'std101', 'stdname':'Abhishek Gaur', 'age': 15}
print('student data : \n {}'.format(dic_student))
print("------------------------------------------------------\nDictionary(student) keys -")
print(*dic_student)
print("------------------------------------------------------\nDictionary(student) values -")
for key in dic_student:
  print(dic_student[key])
print('\n')

# To retrieve value of element
print(student.get('Age'))
print(student.get('english','Element do not exist'))
print("\n")

# To return the lenght of the list


# To update the
marks = {'hindi': 67,'english':43,'science': 89}
student.update(marks)
print(student)
print("\n")

# To clear the dictionary
student.clear()
print(student)

dict_keys(['stdid', 'stdname', 'maths', 'Age'])

stdid
stdname
maths
Age
-------------------------------------------------------------
dict_values(['std01', 'Ashish', 23, 12])
std01
Ashish
23
12


dict_items([('stdid', 'std01'), ('stdname', 'Ashish'), ('maths', 23), ('Age', 12)])
('stdid', 'std01')
('stdname', 'Ashish')
('maths', 23)
('Age', 12)


12
Element do not exist


{'stdid': 'std01', 'stdname': 'Ashish', 'maths': 23, 'Age': 12, 'hindi': 67, 'english': 43, 'science': 89}


{}

# Assignment 2

In [ ]:
import pandas as pd
Student_Record = {}
Student_Record['Stdid'] = ['std101','std102','std103','std104','std105','std106','std107','std108','std109','std110']
Student_Record['Stdname'] = ['Ashish','Abhishek','Aman','Rahul','Ruby','Suamn','Saurabh','sumit','Kamlesh','Rohan']
Student_Record['Age'] = [15,14,15,14,13,13,15,14,15,15]
Student_Record['Maths'] = [87,48,78,45,89,67,34,67,78,24]
Student_Record['English'] = [89,45,56,67,67,46,23,45,56,12]
Student_Record['Hindi'] = [67,85,23,45,89,90,45,23,45,34]
Student_Record['Computer'] = [90,45,67,56,65,67,34,90,67,56]
Student_Record['Science'] = [89,90,78,45,93,67,45,78,99,45]

df = pd.DataFrame(Student_Record)

# Display DataFrame
print(df)

    Stdid         Stdname  Age  Maths  English  Hindi  Computer  Science
0  std101    Ashish kumar   15     87       89     67        90       89
1  std102  Abhishek kumar   14     48       45     85        45       90
2  std103            Aman   15     78       56     23        67       78
3  std104           Rahul   14     45       67     45        56       45
4  std105            Ruby   13     89       67     89        65       93
5  std106           Suamn   13     67       46     90        67       67
6  std107         Saurabh   15     34       23     45        34       45
7  std108           sumit   14     67       45     23        90       78
8  std109         Kamlesh   15     78       56     45        67       99
9  std110           Rohan   15     24       12     34        56       45

In [ ]:

for i in range(len(Student_Record['English'])):
  if Student_Record['English'][i]>50:
    print(Student_Record['Stdname'][i])

Ashish kumar
Aman
Rahul
Ruby
Kamlesh